#slovnikvloz {
	position: fixed;
	top: 33%;
	display: block;
	width: 33%;
	margin: 0 auto;
	left: 33%;
	background: #fafafa;
	z-index: 100;
	background: red;
	box-shadow: 0 0 30px #Ccc;
	border: 1px solid rosybrown;
	padding: 5px;
	height: 50px;
	font-size: 20px
}
