/*------- Resets -------*/

#trans_magician,
#trans_magician input,
#trans_magician_lang,
#trans_magician_lang_li,
#trans_magician_results,
#trans_magician_results li,
#trans_magician_results b
{
	z-index: 999;
	display: inherit;
	text-align: left;
	box-sizing: border-box;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/*------- Main styles -------*/
#trans_magician {
	position: fixed;
	top: 13%;
	left: 28%;
	margin: 0 auto;
	padding: 0;
	background-color: transparent;
	color: #111;
	width: 42%;
	height: 60px;
	box-shadow: 0 30px 150px 29px #ccc;
}

#trans_magician.trans_disabled {
	display: none !important;
	overflow: hidden !important;
}

#trans_magician input,
#trans_magician input:focus {
	position: relative;
	display: block;
	outline: 0;
	margin: 0;
	padding: 5px 15px;
	width: 100%;
	height: 60px;
	border: 1px solid silver;
	border-left-color:cornflowerblue;
	background-color: #fff;
	box-shadow: inset 2px 0 0 cornflowerblue;
	color: #333;
	font-weight: 200;
	font-size: 22px;
}

/*------- Language picker -------*/
#trans_magician_lang {
	color:#222;
	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 1000;
	background-color: #fafafa;
	overflow: visible;
	margin: 0;
	padding: 0;
	width: 98px;
	height: 210px;
	color: #555;
	text-transform: capitalize;
	line-height: 20px;
	-webkit-transition: 0.8s all;
	transition: 0.8s all;
}

.trans_magician_hidden {
	overflow: hidden !important;
	height: 58px !important;
}

#trans_magician_lang_li {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	cursor: pointer;
}
#trans_magician_lang_li:first-child {
	margin: 0;
	color:#333;
	padding: 11px 0 0 0 ;
	width: 98px;
	height: 58px;
	line-height: 20px;
	-webkit-transition: 0.8s all;
	transition: 0.8s all;
}
#trans_magician_lang_li:nth-child(2) {
	box-shadow: inset 0 2px 1px -1px #eee;
}
#trans_magician_lang_li:nth-child(n+2):not(.trans_li_disabled):hover {
	background-color: #fff;
	text-decoration: underline;
}
#trans_magician_lang_li:nth-child(n+2):not(.trans_li_disabled):hover:after {
	position: absolute;
	margin: 0;
	padding: 0;
	right: -1px;
	color: #aaa;
	content: "◀";
}
.trans_li_disabled {
	color: #ccc;
}

#trans_magician_lang:hover:not(.trans_magician_hidden) #trans_magician_lang_li:first-child, .trans_magician_alert {
	background: #555556 !important;
	color:#eee !important;
}

/*------- Dropdown with results -------*/
#trans_magician_results {
	position: absolute;
	z-index: 996 !important;
	margin-top: 0;
	margin-left: 5%;
	padding: 0;
	width: 90%;
	background-color: white;
	box-shadow: 0 10px 20px #ccc;
	list-style: none;
	font-size: 14px;
}

#trans_magician_results li {
	margin: 0 20px;
	padding:2px 0 !important;
}

#trans_magician_results li:first-child { margin-top: 20px;}
#trans_magician_results li:last-child { margin-bottom: 20px;}

#trans_magician_results b {
	padding: 0 10px 0 0;
	font-weight: bold;
	margin: 0;
	display: inline-block !important;
}



